#blur-div{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

#blur-image {
    display: block;
    width: 500px;
    height: 500px;
    margin: 0 auto;

    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);

    position: absolute;
    left: 0;
    top: 0;

    z-index: 0;
}

#canvas {
    display: block;
    
    margin: 0 auto;
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}